.DS_STORE

# env file
.env

# docker-compose
elasticsearch/nodes/

mysql/data/
!/mysql/data/.gitkeep

redis/data/
!/redis/data/.gitkeep

redis-insight/data/
!redis-insight/data/.gitkeep

# editor
.vscode/
launch.json